.sgsg-menu {
  list-style: none;
  &__item {
    padding: 0 16px;
    line-height: 40px;
    color: #868aa8;
    font-size: 1rem;
    &--hover {
      transition: 0.3s;
      background-color: #292b3a;
      color: map_get($sgsg-color, white);
    }
    &--expanded {
      transition: 0.3s;
      //background-color: #292b3a;
    }
  }
}

//color: #716aca;
//color: #686c89;