.sgsg-templates {
  &__replacements {
    position: relative;
    width: 100%;
    height: 100%;
    .sgsg-replacements{
      &__section {

      }
      &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
      }
    }
  }
}