.sgsg-aside {
  position: fixed;
  top: $sgsg-header-padding;
  left: 0;
  bottom: 0;
  z-index: 98;
  width: $sgsg-aside-padding;
  height: auto;
  padding: 20px 0;
  color: #fff;
  background-color: #2c2e3e;
}