$sgsg-font-size: 13px;

$sgsg-aside-padding: 255px;
$sgsg-header-padding: 70px;

$sgsg-color: (
  white: #fff,
  black: #000,
  primary: #5867dd,
  success: #34bfa3,
  warning: #ffb822,
  danger: #f4516c,
  metal: #c4c5c6,
  brand: #716aca,
  focus: #9816f4
)
