.sgsg-stack {
  position: relative;
  display: table;
  table-layout: fixed;
}

.sgsg-stack__item {
  display: table-cell;
  vertical-align: top;
  height: 100%;
}

.sgsg-m-5--right {
  margin-right: .5rem;
}

.sgsg-m-auto--right {
  margin-right: auto !important;
}

.sgsg-border--right {
  border-right: 1px solid map_get($sgsg-color, metal);
}

.sgsg-absolute {
  position: absolute;
  &--top {
    top: 0;
  }
  &--right {
    right: 0;
  }
}

.col-4 {
  &:first-of-type {
    padding-right: 26px;
  }
}
.col-8 {
  padding-left: 26px;
}
